<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clone Dev Community</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/asideLeft.css">
</head>
<body>
    <header>
        <div class="headerContainer">
            <section class="hamburgerContainer">
                <div class="hamburger">
                    <i class="fa-solid fa-bars" style="font-size: 25px"></i>
                </div>
                <img src="../img/resized_logo_UQww2soKuUsjaOGNB38o.png" class="logo" alt="logo" />
                <div class="inputContainer">
                    <input
                        type="text"
                        placeholder="Search..."
                        class="inputNav"
                    /><i
                        class="fa-solid fa-magnifying-glass inputGlass"
                        style="font-size: 20px"
                    ></i>
                </div>
            </section>
            <section class="searchContainer">
                <div class="search">
                    <i
                        class="fa-solid fa-magnifying-glass glassIcon"
                        style="font-size: 25px"
                    ></i>
                </div>

                <div class="logInHeader">
                    <a href="/">Log in</a>
                </div>
                <a href="/" id="createAccountHeader">Create account</a>
            </section>
        </div>
    </header>
    <main>
        <!--Contenido Principal-->
        <div class="mainContainer">
            <!--Contenido del lado derecho-->
            <aside class="asideLeft">
                <section class="logInBox">
                    <h2 class="titleLogIn">
                        DEV Community is a community of 1,192,404 amazing
                        developers
                    </h2>
                    <p>
                        We&#39;re a place where coders share, stay
                        up-to-date and grow their careers.
                    </p>
                    <div class="logInButtons">
                        <a href="/" id="createAccountBtn">Create account</a>
                        <a href="/" id="logInAside">Log In</a>
                    </div>
                </section>
                <nav class="asideNav">
                    <ul>
                        <li>
                            <a href="/"
                                ><i class="fa-solid fa-house"></i>Home</a
                            >
                        </li>
                        <li>
                            <a href="/"
                                ><i class="fa-solid fa-microphone"></i
                                >Podcasts</a
                            >
                        </li>
                        <li>
                            <a href="/"
                                ><i class="fa-solid fa-video"></i>Video</a
                            >
                        </li>
                        <li>
                            <a href="/"
                                ><i class="fa-solid fa-tag"></i>Tags</a
                            >
                        </li>
                        <li>
                            <a href="/"
                                ><i class="fa-regular fa-lightbulb"></i
                                >FAQ</a
                            >
                        </li>
                        <li>
                            <a href="/"
                                ><i class="fa-solid fa-bag-shopping"></i
                                >Forem Shop</a
                            >
                        </li>
                        <li>
                            <a href="/"
                                ><i class="fa-brands fa-dev"></i>About</a
                            >
                        </li>
                        <li>
                            <a href="/"
                                ><i class="fa-solid fa-circle-notch"></i
                                >Contact</a
                            >
                        </li>
                        <li>
                            <a href="/"
                                ><i class="fa-solid fa-book-open"></i
                                >Guides</a
                            >
                        </li>
                        <li>
                            <a href="/"
                                ><i class="fa-regular fa-face-grimace"></i
                                >Software comparisons</a
                            >
                        </li>
                    </ul>
                </nav>
                <section class="popularTags">
                    <div class="popular">
                        <h2 class="titleLogIn">Popular Tags</h2>
                        <ul>
                            #webdev
                        </ul>
                        <ul>
                            #javascript
                        </ul>
                        <ul>
                            #programming
                        </ul>
                        <ul>
                            #beginners
                        </ul>
                        <ul>
                            #tutorial
                        </ul>
                        <ul>
                            #react
                        </ul>
                        <ul>
                            #python
                        </ul>
                        <ul>
                            #discuss
                        </ul>
                        <ul>
                            #productivity
                        </ul>
                        <ul>
                            #devops
                        </ul>
                        <ul>
                            #aws
                        </ul>
                        <ul>
                            #career
                        </ul>
                        <ul>
                            #opensource
                        </ul>
                        <ul>
                            #css
                        </ul>
                        <ul>
                            #news
                        </ul>
                        <ul>
                            #ai
                        </ul>
                        <ul>
                            #node
                        </ul>
                        <ul>
                            #html
                        </ul>
                        <ul>
                            #typescript
                        </ul>
                        <ul>
                            #codenewbie
                        </ul>
                        <ul>
                            #cloud
                        </ul>
                        <ul>
                            #testing
                        </ul>
                        <ul>
                            #java
                        </ul>
                        <ul>
                            #learning
                        </ul>
                        <ul>
                            #api
                        </ul>
                        <ul>
                            #database
                        </ul>
                        <ul>
                            #github
                        </ul>
                        <ul>
                            #security
                        </ul>
                        <ul>
                            #php
                        </ul>
                        <ul>
                            #android
                        </ul>
                    </div>
                </section>
                <section class="box1">
                    <div class="dots">
                        <p>DEV Community ...</p>
                    </div>

                    <h2 class="titleLogIn">
                        Discover the Benefits of DEV Organization Accounts!
                    </h2>
                    <p>
                        Explore the world of DEV Organization Accounts and
                        unlock valuable features to boost your online
                        presence. Showcase your brand with organization
                        branding, engage with your audience, and gain
                        insights with advanced analytics.
                    </p>
                    <div class="logInButtons">
                        <a href="/" id="createAccountBtn">
                            Get started today!</a
                        >
                    </div>
                </section>
            </aside>
        </div>
    </main>
</body>
</html>