<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clone Dev Community</title>
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
    <header>
        <div class="headerContainer">
            <section class="hamburgerContainer">
                <div class="hamburger">
                    <i class="fa-solid fa-bars" style="font-size: 25px"></i>
                </div>
                <img src="../img/resized_logo_UQww2soKuUsjaOGNB38o.png" class="logo" alt="logo" />
                <div class="inputContainer">
                    <input
                        type="text"
                        placeholder="Search..."
                        class="inputNav"
                    /><i
                        class="fa-solid fa-magnifying-glass inputGlass"
                        style="font-size: 20px"
                    ></i>
                </div>
            </section>
            <section class="searchContainer">
                <div class="search">
                    <i
                        class="fa-solid fa-magnifying-glass glassIcon"
                        style="font-size: 25px"
                    ></i>
                </div>

                <div class="logInHeader">
                    <a href="/">Log in</a>
                </div>
                <a href="/" id="createAccountHeader">Create account</a>
            </section>
        </div>
    </header>
</body>
</html>